.container {
  padding: 2rem;
}

.mainContent {
  margin-left: 290px;
}

.heading {
  font-size: 30px;
  margin-bottom: 10px;
}

.tabBar {
  margin-bottom: 25px;
}

.tabBar button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  background: #eee;
  border-radius: 5px;
  cursor: pointer;
}

.tabBar .active {
  background-color: #025ba3;
  color: white;
}

.tabContent .reportList {
  list-style: none;
  padding: 0;
}

.reportList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.tabContent .reportCard {
  margin-bottom: 10px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 15px;
}

.reportCard {
  width: 100%;
  max-width: 700px; /* Restrict card width */
  text-align: center;
}

.details {
  margin-top: 10px;
  background: #eef5ff;
  padding: 10px;
  border-radius: 5px;
}

.pieChart {
  background: white;
  padding: 20px;
  width: 300px;
  height: 400px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
}

.pieChartsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
