.container {
  display: flex;
  min-height: 100vh; /* Full viewport height */
}

.mainContent {
  flex: 1;
  padding: 20px;
  color: black;
  margin-left :80px;/*accounts for sidebar when its minimized*/
}

.heading {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
}
