.mainContent {
    flex: 1; /* Take up remaining space */
    display: flex; /* Use flex layout */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align items at the top */
    padding: 20px;
    color: #212529; /* Darker text color */
}

.heading {
    font-size: 2rem;
    color: #ffffff;
    margin-left: 250px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%; /* Ensure the heading spans full width */
}

.calendarContainer {
    width: 80%;
    max-width: 900px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    margin-left: 250px;
    margin-bottom: 20px; /* Add spacing between the calendar and button */
    overflow: hidden;
}

.submitButton {
    padding: 10px 20px;
    margin-left: 260px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: auto;
    text-align: center;
}

.submitButton:hover {
    background-color: #a71d2a; /* Darker red on hover */
}
