html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(135deg, #007bff, #6f42c1); /* Full page gradient background */
}

.container {
  display: flex;
  min-height: 100vh; /* Full viewport height */
}

.calSubHeading{
  /*text-align:center;*/
  margin-top:10px;
  margin-bottom: 20px;
  margin-left:10px;
}

.StudentCalendar {
  width: 100%;            /* Ensure the calendar takes up full width */
  /* Add any other calendar specific styles here */
}

.mainContent {
  flex: 1;
  padding: 20px;
  margin-left :80px;/*accounts for sidebar when its minimized*/
  color: #e0e7ed;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.courseList, .notifications {
  margin-top: 20px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}