.container {
  display: flex;
  min-height: 100vh; /* Full viewport height */
}

.mainContent {
  flex: 1;
  padding: 20px;
  color: black;
  margin-left :260px;/*accounts for sidebar when its minimized*/
  transition: margin-left 0.5s ease;
}

.mainContentCollapsed {
  margin-left: 80px;
}

.heading {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
}
